.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.card p {
  font-size: 16px;
  margin-bottom: 10px;
}

.card button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #3e8e41;
}

/* ---------------pagination-------------------- */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  padding: 10px 15px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #f2f2f2;
}

.pagination p {
  margin: 0 10px;
  font-size: 16px;
}

/* Medium screens */
@media (max-width: 992px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Small screens */
@media (max-width: 576px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
