
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul, ol {
    list-style: none;
  }

.container nav{
    display: flex;
    justify-content: space-around;
    padding:10px

}
.container{
    background-color: teal;
}

.page_container ul{
    display: flex;
    gap:50px;
    text-decoration: none;
    text-align: center;
    font-size: large;
    font-weight:bold;
    color:white;
    list-style-type: none;
    

}
.page_container ul a {
    text-decoration: none;
    color: black; /* Change text color */
  }
  
  .card {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
   
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card h2 {
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
  }
  
  .card h3 {
    margin: 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #777;
  }
  
  .card p {
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
  }
  
  .wishlist-icon {
    float: right;
    margin: 10px;
    font-size: 1.5rem;
    color: #e74c3c;
    cursor: pointer;
  }
  #product-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(3,auto); */
}
  
  @media  (min-width:481px) and (max-width:768px){
   
    #product-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* grid-template-rows: repeat(3,auto); */
    }
    
}
@media  (min-width:120px) and (max-width:480px){
   
    #product-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* grid-template-rows: repeat(3,auto); */
    }
    
}
